.image-background {
    background-image: url("../assets/frontend/img/background.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg-1 {
    background: #1E1E1E;
}

.bg-2 {
    background: #252526;
}

.bg-3 {
    background: #333333;
}

.bg-card{
    background: #0202f7;
    padding: 1em;
    border-radius: 15px;
}

.card {
    background: none;
    border: 0;
    padding: 0;
}
p{

    font-family: 'Bebas Neue', cursive;
}